# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# See https://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Testing
/coverage

# Production
/build

# Transpiled .js files
/src/**/*.js

# Misc
.env.local
.env.test.local
.env.production.local
/.sass-cache
/connect.lock
/typings

# Logs
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log

# System Files
.DS_Store
Thumbs.db

dev-dependencies.js
